@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
body{
    background-image: url('images/kiwihug-MS9Tnh3if1o-unsplash.jpeg');
    background-repeat: repeat;
    background-size: cover;
    background-color: rgb(170, 170, 170);
    font-family: Arial, sans-serif;
}
h1{
    background-color: rgba(111, 67, 222, 0.398);
    color: antiquewhite;

    margin: 0 12px 48px 12px;
    padding: 8px 24px 8px 24px;
    border: 2px solid rgb(110, 35, 181);
    border-radius: 8px;
    
    text-align: center;

    font-family: 'Permanent Marker', cursive;
}
h2{
    margin: 0 5% 0 5%;
}
h3{
    color:blue;
    font-family: 'Cinzel', serif;
}
p{
    background-color: #ffffff;
    padding: 12px;
    border-radius: 12px;
}
/* 
    Troisème journée : Partie HTML 5
*/
.mon_gras{
    font-weight: bolder;
    padding: 2px;
    border: 1px solid darkblue;
    border-radius: 0 8px;
}
header{
    background-color: rgba(128, 128, 128, 0.405);
}
main{
    margin-left: 24px;
}
section{
    background-color: rgba(194, 211, 235, 0.563);
    margin: 24px 0;
    padding: 4px 12px;
    border-radius: 3px;
}
footer{
    background-color: rgba(156, 127, 158, 0.645);
    color: rgb(135, 107, 172);
    font-size: smaller;
    padding: 4px;
    margin: 0;
}
footer a{
    color: rgb(113, 87, 147);
    text-decoration: none;
}
.logo{
    height:200px;
    width:200px;
    border-radius: 100px;
}
#logo{
    text-align: center;
}
/* Le menu de navigation */
nav a{
    text-decoration: none;
    background-color: rgb(179, 217, 250);
    color: rgb(53, 102, 145);
    padding: 8px;
}
nav a:hover{
    background-color: rgb(53, 102, 145);
    color: rgb(179, 217, 250);
    font-weight: bolder;
    padding: 12px;
    border-radius: 48px;
}
nav ul{
    list-style-type:none;
}
nav li{
    display: inline;
}
.active{
    background-color: rgb(40, 75, 106);
    color: rgb(135, 163, 188);
}

/* La colonne "extras" */
aside{
    background-color: rgba(174, 151, 121, 0.556);
    padding: 12px;
    margin-left: 24px;
}
