@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
body{
    background-color: rgb(169, 152, 130);
    font-family: Arial, sans-serif;
}
h1{
    background-color: rgb(111, 67, 222);
    color: antiquewhite;

    margin: 0 12px 48px 12px;
    padding: 8px 24px 8px 24px;
    border: 6px solid rgb(35, 37, 181);
    border-radius: 8px;
    
    text-align: center;

    font-family: 'Permanent Marker', cursive;
}
h2{
    margin: 0 5% 0 5%;
}
h3{
    color:blue;
    font-family: 'Cinzel', serif;
}
p{
    background-color: #ffffff;
    padding: 12px;
    border-radius: 12px;
}
/* 
    Troisème journée : Partie HTML 5
*/
.mon_gras{
    font-weight: bolder;
    padding: 2px;
    border: 1px solid darkblue;
    border-radius: 0 8px;
}
header{
    background-color: grey;
}
main{
    margin-left: 24px;
}
section{
    background-color: rgb(194, 235, 222);
    margin: 24px 0;
    padding: 4px 12px;
    border-radius: 3px;
}
footer{
    background-color: rgb(176, 193, 151);
    color: rgb(41, 108, 41);
    font-size: smaller;
    padding: 4px;
    margin: 0;
}
/* Le menu de navigation */
a{
    text-decoration: none;
}
nav ul{
    list-style-type:none;
}
nav li{
    display: inline;
    background-color: rgb(179, 217, 250);
    padding: 8px;
}